
<br>
<div class="panel panel-default" style="width: 360px; font: 20px">
    <div class="panel-heading"><h3> Спасибо!</h3></div>
    <div class="panel-body">
        <div>На указанный вами адрес электронной почты</div>
        <div>придет приглашение для участия в мероприятии</div>
        <br>
        <div>Спасибо за регистрацию!</div>        
        <br>      
    </div>
</div>
